    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $(this).toggleClass('active');
      });
  });

  $.busyLoadSetup({ animation: "fade", background: "rgba(255, 255, 255, 0.7)", color: "#778899" })

  </script>

</body>
</html>
