<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap datetimepicker CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Loadmask CSS -->
    <link href="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.css" rel="stylesheet">
    <!-- CSS DataTable -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- moment JS -->
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <!-- Bootstrap datetimepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!-- moment locale indonesia JS -->
    <script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>
    <!-- JavaScript data tables -->
    <script src="/js/jquery.dataTables.js"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/">WELCOME</a></h3>
            </div>

            <ul class="list-unstyled">
                <p><u><b>STATUS :  </b><i><%= role %></i></u></p>
                <% if (role !== "User") {%>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MENU 1</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="/data_student">Student</a>
                            </li>
                            <li>
                                <a href="#">Sub Menu 2</a>
                            </li>
                            <li>
                                <a href="#">Sub Menu 3</a>
                            </li>
                        </ul>
                    </li>
                <% } %>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MENU 2</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/hal1">HALAMAN 1</a>
                        </li>
                        <li>
                            <a href="/hal2">HALAMAN 2</a>
                        </li>
                        <li>
                            <a href="/hal3">HALAMAN 3</a>
                        </li>
                    </ul>
                </li>
                <% if (role === "Super Admin") {%>
                    <li>
                            <a href="#pageSubAdmin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ADMIN</a>
                            <ul class="collapse list-unstyled" id="pageSubAdmin">
                                <li>
                                    <a href="/admin/member_crud">Member</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">MENU 4</a>
                        </li>
                <%}%>
            </ul>

            <!--ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Download source</a>
                </li>
                <li>
                    <a href="#" class="article">Back to article</a>
                </li>
            </ul-->
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item user">
                                <a href="/logout">Keluar</a>
                            </li>
                        </ul>
                    </div>
                </div>
              </nav>
