<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div>
      <h4><%= message %> </h4>
      <h5><%= error.status %> </h5>
      <pre> <%= error.stack  %></pre>
    </div>
  </body>
</html>
